@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ba-indigo-900: #23284c;
  --ba-lavender-300: #cccbfb;
  --ba-aqua-300: #a9dfe6;
  --ba-lime-300: #bce17a;
  --ba-lemon-300: #e4e16d;
  --ba-mustard-400: #f1d44b;
  --ba-peach-300: #eaab81;
}

body {
  color: var(--ba-indigo-900);
}
